.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
        .progress{
            width: 75%;
            z-index: 2;
        }
        .bg-img{
            width: 100%;
            position: absolute;
        }
    
    .main-img{
        width: 100%;
        position: absolute;
    }
}