.container{
    display: flex;
    border-bottom: 1px solid gainsboro;
}
.job{
    padding: 8px;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    flex: 1;
}
// .job-title{
//     font-style: italic;
// }
// .company{
           
// }

.time{
    padding: 8px;        
}
// .interval{}
.duration{
    text-align: right;
}


.main-text{
    font-size: 15px;
    font-weight: 600;
}
.sub-text{
    font-size: 13px;
    font-weight: 300;    
    padding-top: 4px;     
}
