.scrappy-travel-container{
    display: flex;
    align-items: center;
    margin: 0 8px;
    .col1{
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        flex: 1;
    }
    .col2{
        flex:1;
        min-width: 351px;
    }
}
