.yoky-travel-container{
    display: flex;
    align-items: center;
    margin: 0 8px;
    .col1{
        margin-left: 16px;
        margin-right: 16px;
    }

    ul > li {
        margin-bottom: 8px;
        a{
            color: var(--hover-blue-light);
        }
    }
}
