.container{
    position: relative;
    margin: 16px;
}
.content{
    border: 1px solid gainsboro;
    border-radius: 8px 8px 8px 8px;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 5px #00000024;
    z-index: 2;
    position: relative;
}
.col1{
    width: 70%;
}
.col2{
    border-left: 1px solid gainsboro;
    padding: 8px;
    width: 30%;
}

.col1.creative{
    width: auto;
    flex: 1;
}
.col2.creative{
    width: 25%;
}