.container{
    position: relative;
    margin: 16px;
}
.content{
    border: 1px solid gainsboro;
    border-radius: 0 8px 0px 8px;
    display: flex;
}
.col1{
    width: 75%;
}
.col2{
    border-left: 1px solid gainsboro;
    padding: 8px;
    width: 25%;
}
