.container.bar{
    height: 3px;
    background-color: var(--light-brown);
    position: relative;
    border-radius: 3px;
    max-width: 500px;
    .progress{
        position: absolute;
        top:0;left: 0;
        height: 100%;
        border-radius: 3px;
        background-color: var(--dark-brown);
    }
}
.container.rotate{
    transform: rotate(0);
    animation: loading-rotation 3s infinite;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-brown);
}

@keyframes loading-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}